html * {
   font-family: Arial, "Times New Roman";
   font-size: 16px;
   font-weight: 150;
	margin: 0;
	//padding: 0;
	//border: 0;
	vertical-align: baseline;
}

body{
	background: red;
	background: linear-gradient(white, #d9cfc7);
   // background-color:  #d9cfc7 ;//#F0F8FF Deutsche Bank grau
    padding:0px ;
    margin:0px; /* margin: -16px; gemogelt; soll den header komplett weiss fuellen*/
	/*background-color: linear-gradient(to bottom, blue, white)*/
}
header{
width: 100%;
height: auto;
top: -10px;
margin: 0px;
/*padding: 50px;*/
background-color:  #d9cfc7; //#777777;
}
.wrapper_main{
	top: 400px;
	width: 960px;
	margin: 0 auto;
	height: 1000px;
	background-color: white;
}
.wrapper_head{
	width: 960px;
	margin: 0 auto;
	height: 110px;
	background-color: #d9cfc7; //#777777;
}

#profile-img{
	width: 80px;
	height: 80px;
}
#login{
	width: 480px;
	height: 200px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	background-color: #d9cfc7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F0F8FF;
}

li {
	float: left;
	}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	font-weight: bold;
	text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #888888;
}
.active {
	background-color: #0088FF	;
	font-weight: bold;
}
#grad1 {
	height: 200px;
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}